<div class="mainvideo">
    <object width="{{ dimensions.0 }}" height="{{ dimensions.1 }}">
    <param name="movie" value="{{ movie.media.content.0.url }}"></param>
    <param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param>
    <embed src="{{ movie.media.content.0.url }}" type="application/x-shockwave-flash"
        allowscriptaccess="always" allowfullscreen="true" width="{{ dimensions.0 }}" height="{{ dimensions.1 }}"></embed>
    </object>
</div>